*,
*:after,
*:before {
    @include box-sizing(border-box);
}

$blue : #4285F4;
$green : #4BD865;
$warning :#FF980F;

body {
    text-align: center;
    background: #eee;
}

section {
    float: left;
    min-width: 150px;
    width: 33.33%;
    padding: 25px 0;
    min-height: 100px;
}

.model-13 {
    .checkbox {
        &:after {
            content: 'OFF';
            font-family: Arial;
            position: absolute;
            color: #666;
            top: 12px;
            right: 15px;
        }

        label {
            background: none;
            border: 3px solid #777;
            height: 40px;
            @include border-radius(20px);

            &:after {
                content: 'ON';
                font-family: Arial;
                color: #fff;
                line-height: 28px;
                text-indent: 100px;
                background: #777;
                overflow: hidden;
                @include box-shadow(none);
                @include border-radius(14px);
                @include translateX(-50px);
                @include transition(all .4s .2s, width .2s linear, text-indent .4s linear);

                top: 3px;
                left: auto;
                right: 2px;
                width: 28px;
                height: 28px;

            }
        }

        input:checked+label {
            border-color: $green/1.5;

            &:after {
                background: $green/1.2;
                left: auto;
                @include translateX(0px);
                @include transition(all .4s, width .2s .4s linear, text-indent .3s .4s linear);
                width: 80px;
                text-indent: 0;
            }
        }
    }
}