<!--{>}는 현재 머스테치 파일을 기준으로 다른 파일을 가져옵니다-->
{{>layout/header}}
    <h1>Floread</h1>
    <!-- 로그인 가능 영역 -->
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/books/save" role="button" class="btn btn-primary"> 업로드</a>
                <!--{#userName} 머스테치는 다른 언어와 같은 if문을 제공하지 않습니다. true/false 여부만 판단할 뿐입니다.-->
                <!--그래서 머스테치에서는 항상 최종값을 넘겨줘야합니다. 여기서도 역시 userName이 있다면 userName을 노출시키도록 구성했습니다.-->
                {{#googleName}}
                    Logged in as : <span id="user">{{googleName}}</span>
                    <!--href="/logout" 스프링 시큐리티에사 기본적으로 제공하는 로그아웃 URL입니다. 즉, 개발자가 별도로 저 URL에 해당하는 컨트롤러를 만들 필요가 없습니다.-->
                    <!--SecurityConfig 클래스에서 URL을 변경할 순 있지만 기본 URL을 사용해도 충분하니 그대로 사용합니다.-->
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/googleName}}
                <!--{^userName} 머스테치에서 해당 값이 존재하지 않는 경우에는 ^를 사용합니다.-->
                <!--여기서는 userName이 없다면 로그인 버튼을 노출시키도록 구성했습니다.-->
                {{^googleName}}
                    <!--href="/logout" 스프링 시큐리티에사 기본적으로 제공하는 로그인 URL입니다. 로그아웃과 마찬가지로 개발자가 별도으 ㅣ컨트롤러를 생성할 필요가 없습니다.-->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/googleName}}
            </div>
        </div>
        <br>
        <!--목록 출력 영역-->

    </div>
{{>layout/footer}}